body, html {
  margin: 0;
  padding: 0;
  scroll-snap-type: y mandatory;
}

#cover {
  display: grid;
  align-items: center;
  justify-items: center;
  margin: 0;
  padding: 0;
  position: fixed;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.clip {
  z-index: 100;
  height: 812px;
  width: 375px;
  clip-path: url(#window);
  background-color: white;
}

.portrait {
  scroll-snap-align: center;
  height: 100vh;
  width: 100vw;
  background-position: -10% 50%;
  background-image: url('../sad.jpg');
  background-size: cover;
}

.portrait2 {
  background-image: url('../gaff.jpg');
  background-position: -10% 50%;
  background-size: cover;
}
